* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    
    background-color: rgb(30, 185, 233);
}

.card {
    border: solid rgb(255, 255, 255) 1px;
    position: relative;
    width: 640px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s;

  }
  
  .card:hover {
    transform: rotateY(180deg);
  }
  
  .card .front,
  .card .back {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card .front {
    background-color: #f2f2f2;
  }
  
  .card .back {
    background-color: #ffffff;
    transform: rotateY(180deg);
  }

  .card img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .card h2 {
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
    background-color: #fc5185;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #ff7eb9;
  }


  